@import '../../styles/variables';

@mixin button-style() {
    font-weight: $font-weight + 200;
    font-family: $font-base;
    font-size: $font-size;
    will-change: transform;
    padding: 5px 15px 5px;
    border-radius: 5px;
    min-width: 211px;
    min-height: 50px;
    transition: background 0.3s, transform 0.3s, box-shadow 0.3s;
    outline: none;
    position: relative;
    cursor: pointer;

    span {
        opacity: 0;
        visibility: hidden;
    }
}

.button-contained {
    color: $color-base;
    background-color: $color-blue;
    border: solid 1px $color-blue;

    @include button-style();

    &:hover {
        background-color: #535a8a;
    }

    &:active {
        background-color: $color-blue;
    }

    &:disabled {
        background-color: $color-button-disabled;
        border: solid 1px $color-button-disabled;
        color: #71737b;
        cursor: not-allowed;
    }

    .spinner {
        & .path {
            stroke: #fff;
            stroke-linecap: round;
            animation: dash 1.5s ease-in-out infinite;
        }
    }
}

.button-outlined {
    color: $color-blue;
    border: solid 1px $color-blue;
    background: transparent;

    @include button-style();

    &:hover {
        color: #535a8a;
    }

    &:active {
        color: $color-blue;
    }

    &:disabled {
        background-color: $color-base;
        border: solid 1px $color-button-disabled;
        color: $color-button-disabled;
        cursor: not-allowed;
    }

    .spinner {
        & .path {
            stroke: $color-blue;
            stroke-linecap: round;
            animation: dash 1.5s ease-in-out infinite;
        }
    }
}

.spinner {
    animation: rotate 2s linear infinite;
    z-index: 2;
    position: absolute;
    left: 0;
    right: 0;
    top: 11px;
    margin: auto;
    width: 25px;
    height: 25px;

    & .path {
        stroke-linecap: round;
        animation: dash 1.5s ease-in-out infinite;
    }
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
}
