// Generic
// ==========================================================================
@import './variables';
@import './functions';
@import './mixins';
@import './root';

// Layout
// ==========================================================================

.App {
    margin: 200px;
    button {
        margin: 0 15px;
        outline: none;
        :focus {
            outline: none;
        }
    }
}
